
<div class="carousel fade-carousel slide" data-ride="carousel" id="bs-carousel">
    <!-- Overlay -->
    <!-- <div class="overlay"></div> -->
  
    <!-- Indicators -->
    
               

    
  
        
     
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
      <div>
          <h1>Welcome!</h1>        
          <h3>#Bethenew</h3>
      </div>
      <button class="btn btn-hero btn-lg" type="button" (click)="signin()">Explore</button>
    </div>  
      </div>
      
      
    </div> 
  </div>

       